body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  width: 1200px;
  color: #575757;
  margin: 0 auto;
}

tr:nth-child(odd) {
  background: #f8f8f8;
}

td {
  padding: 10px;
}

td {
  border: 1px solid #dbdbdb;
  width: 500px;
}

td:first-of-type {
  width: 300px;
}

.difference-accent {
  background: #9aceeb
}